body {
	background-color:blue;

}

.container {
	height: auto;
	width: 100%;
}

.h1 {
	opacity: 1.0;
	color:blue;
	border: solid;


}


.panel > .panel-heading {
    background-color: blue;
    color: yellow;
    
}

#addTrainBtn {
    background-color: blue;
    color: yellow;
    border: solid;
    border-color:green;
}